/*aside (será o cabeçalho) na lateral esquerda*/
.dashboard-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

aside {
    width: 250px;
    background:  #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

aside h2 {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: column;
}
.nav-link {
    display: block; /* Faz o link ocupar toda a largura */
    color: #ffffff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
}
.nav-link:hover {
    color: white; /*Cor do texto ao passar o mouse*/
}
aside h2:hover, aside a:hover {
    transition: 0.3s ease;
    border-radius: 5px;
    background: linear-gradient(#0255a8, #003366);
    padding: 2px; /* Pode ajustar conforme necessário */
}
 aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li {
     margin: 2px 0; 
}

aside nav ul li a, aside a {
    color: rgb(255, 255, 255);
    text-decoration: none;
} 

aside nav ul li a:hover, aside a:hover {
    text-decoration: none;
    padding: 7px;
}

aside nav ul li a:visited,
aside a:visited {
    color: white; /* Mantém a cor branca quando o link for visitado */
    text-decoration: none; /* Remove sublinhado no link visitado*/
}
