
/* Estilo da Dashboard */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

aside {
    width: 200px;
    background: #003366; /* color2 */
    color: white;
    padding: 20px;
    text-align: center;
    transition: width 0.3s ease, opacity 0.3s ease;
}

aside.closed {
    width: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
}

aside h2 {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

aside nav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li {
    margin: 20px 0;
}

aside nav ul li a:hover {
    text-decoration: none;
    padding: 7px;
    background: linear-gradient(#003366, #0068cf); 

}
/* Responsividade */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    aside {
        width: 100%; /* Largura total em telas menores */
        padding: 10px;
        text-align: left;
    }

    aside.closed {
        width: 0;
        padding: 0;
        opacity: 0;
    }

    aside h2 {
        font-size: 18px;
    }

    .nav-link {
        padding: 10px 0;
    }

    aside nav ul li {
        margin: 10px 0;
    }

    .nav-link:hover {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    aside {
        width: 100%; /* Largura total */
        padding: 5px;
    }

    aside h2 {
        font-size: 16px;
    }

    aside nav ul li {
        margin: 8px 0;
    }

    .nav-link {
        padding: 5px;
    }

    .nav-link:hover {
        padding: 5px;
    }
}

