/* Footer Pagina Projeto*/
.rodape_projeto {
    position:absolute;
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    bottom: 0;
    margin-bottom: -150px;
    width: 100%;
}

/* Footer Pagina Info*/
.rodape_info{
    position: absolute; 
   text-align: center;
   padding: 10px;
   background-color: #003366;
   color: #fff;
   bottom: -200px;
   margin-bottom: -1235px;
   width: 100%;
}

/*Footer Nt/Grade*/
.rodape_nt {
    position: absolute;
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    width: 100%;
    bottom: 0;
}